.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7rem;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 2rem;
  color: var(--primary);
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu li {
  list-style: none;
}
.header h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  line-height: 0px;
  margin: 0px;
}
.header h1 .icon{
  font-size: 3rem;
  fill:var(--secondary);
}

/* media queries */
@media screen and (max-width: 700px) {
  .header {
    padding: 0px;
  }
}
@media screen and (max-width: 450px) {
  .menu{
    margin: 0px;
    padding: 0px;
  }
}
